/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* @end */
 
html {
  font: 400 1.3em 'Ubuntu';
  background-size: 100%;
}
 
body {
  width: 960px;
  margin: auto;
  padding: 0 20px;
}

header {
  margin: 0;
  font-weight: 700;
  padding: 20px 0;
}
 
header h1 {
  font-size: 1.6em;
  color: #45648c;
  text-align: left;
  text-shadow: 0 2px 0 #383838;
  font-weight: 700;
}
 
header h2 {
  font-size: 0.8em;
  color: #383838;
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: 500;
}

header .contact_link {
  position: absolute;
  right: 10px;
  padding: 20px 10px;
  font-weight: 400;
  font-size: .9em;
}

#content h1 {
  margin-bottom:  36px;
  font-size:  1.5em;
  font-weight:  400;
  padding-left: 20px;
  marign-left: -23px;
  margin-top:  -3px;
  padding:  0px;
}
 
#content h3 {
  margin-bottom: 36px;
  font-size: 1.5em;
  font-weight: 400;
  padding-left: 20px;
  margin-left: -23px;
/*  border-left: 4px solid #d00b0b;*/
  padding-bottom: 4px;
  padding-top: 4px;
  margin-top: -4px;
}

#content h4 {
  font-weight: 500;
}

#intro h1 {
  margin: 0 0 6px;
  padding-left: 0px;
  font-weight: 700;
  font-size: 2.0em;
  white-space: pre;
  text-shadow: 0 1px 1px #ffffff;
}
 
#intro h2 {
  color: #8b8b8b;
  font-size: 1.6em;
  font-weight: 700;
  width: 540px;
  text-shadow: 0 1px 1px #ffffff;
}

section {
  margin: 60px 0;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

#color {
  background: url(../img/Bear_Fountain_in_Geneseo.jpg) no-repeat fixed;
  background-size: 100%;
  padding: 40px;
  margin: 0;
  height: 480px;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: -40px;
  -moz-box-shadow: inset 0 -40px 40px #ffffff;
  -webkit-box-shadow: inset 0 -40px 40px #ffffff;
  box-shadow: inset 0 -40px 40px #ffffff;
}

section#intro {
  margin: 60px auto 280px;
  padding: 40px 30px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.69);
  border-radius: 8px;
  -moz-box-shadow: 0 0 40px rgba(255, 255, 255, 0.67);
  -webkit-box-shadow: 0 0 40px rgba(255, 255, 255, 0.67);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.67);
  border: 1px solid #ffffff;
} 

nav {
  z-index: 100;
  margin: 20px 0;
  width: 780px;
  margin: auto;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  font-size: .9em;
  color: #383838;
  text-align: right;
}

nav li {
  display: inline-block;
}
 
nav li a {
  padding: 10px 0 3px;
  margin: 0 10px;
}

nav li a:first-of-type {
  margin-left: 5px;
}
 
.gloss {
  -moz-box-shadow: 0 1px 2px #000000;
  -webkit-box-shadow: 0 1px 2px #000000;
  box-shadow: 0 1px 2px #000000;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.41) 48.5%, rgba(254, 254, 254, 0.34) 53.4%, rgba(255, 255, 255, 0.15) 100%) #7c8ea6;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), color-stop(0.485, rgba(254, 254, 254, 0.41)), color-stop(0.534, rgba(254, 254, 254, 0.34)), to(rgba(255, 255, 255, 0.15))) #7c8ea6;
  text-shadow: 0 1px 0 #383838;
  color: #ffffff;
}

nav li.current a {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

/*nav li.current:after {
  content: "";
  position: relative;
  bottom: -6px;
  right: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-top-width: 0;
  border-right-width: 20px;
  border-left-width: 20px;
  border-bottom-width: 30px;
  border-left-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
}*/
 
.clearfix:after {
  content: '';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
 
strong {
  font-weight: 500;
}
 
#contact {
  margin-bottom: 200px;
} 

#contact .left {
  float: left;
  width: 600px;
}

#contact .right {
  float: right;
  width: 300px;
}

#contact .right p {
  display: block;
  margin: 20px 0px;
  background: #f2f2f2;
  padding: 7px 5px 10px 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 5px white;
}

section#services li {
  width: 300px;
  float: left;
  margin: 10px;
  padding: 2px;
  height: 190px;
}

#services .ic_service {
  position: relative;
  top: 26px;
  height: 32px;
  width: 32px;
}

#services h4 {
  padding-left: 42px;
}

.ic_service.design {
  background: url(../img/design.png) no-repeat center center;
}

.ic_service.money {
  background: url(../img/money.png) no-repeat center center;
}
.ic_service.search {
  background: url(../img/search.png) no-repeat center center;
}
.ic_service.blog {
  background: url(../img/blog.png) no-repeat center center;
}
.ic_service.content {
  background: url(../img/compass.png) no-repeat center center;
}
.ic_service.code {
  background: url(../img/code.png) no-repeat center center;
}

section#services li.first {
  margin-left: 0;
  padding-left: 0;
}

section#services li:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

.service:not(.wide) {
  display: inline-block;
  vertical-align: top;
  width: 400px; 
  height: 160px;
  text-align: justify;
  border: 1px dashed #bdbdbd;
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.65);
}
 
.service.left {
  margin-right: 40px;
}
 

blockquote {
  font-weight: 400;
  font-style: normal;
  quotes: '\201C' '\201D';
  width: 800px;
  margin: 10px auto;
  text-align: justify;
  font-size: .8em;
  text-indent: 20px;
}

blockquote footer {
  font-style: italic;
  font-weight: 300;
  margin-left: 400px;
}

blockquote footer:before {
  content: '–– ';
}
 
blockquote::before { 
  content: open-quote;
  left: -60px;
  top: 60px;
  padding: 4px 4px 70px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  color: #fff;
  font: 2.7em/0 Georgia, "Times New Roman", Times, serif;
  background-color: #d9d9d9;
}
 
/*blockquote::after { 
  content: close-quote;
  position: relative;
  right: -110px;
  bottom: 15px;
  padding: 4px 4px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1.4em;
  color: #fff;
  line-height: 0;
  font: 3em/0 Georgia, "Times New Roman", Times, serif;
  background-color: #d9d9d9;
}*/
 
blockquote span {
  font-size: 0.7em;
}
 
p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 300;
  line-height: 1.2em;
}

section li {
  margin: 15px 0;
  font-weight: 300;
  line-height: 1.2em;
  font-size: .9em;
}
 
.box {
  display: inline-block;
  margin: 10px 16px 10px 16px;
  padding: 3px 3px 1px 3px;
  border: 1px solid #6d6d6d;
  position: relative;
  background-color: #ffffff;
}
 
.box a {
  border-style: none;
}
 
.box a:hover {
  border-style: none;
}
 
.box:hover {
  background: white;
}
 
.box:hover div {
  display: block;
}
 
.box:hover img {
  opacity: 0.3;
}
 
.box div {
  display: none;
  position: absolute;
  font-size: 30px;
  top: 50px;
  left: 10px;
}
 
.box div span {
  margin-top: 10px;
  display: block;
  font-size: 13px;
  font-family: Verdana, sans-serif;
  color: black;
}
 
body > footer {
  background-color: rgb(46, 46, 46);
  color: #faf4ef;
  padding: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  font-size: .7em;
  font-weight: 400;
}

#bear {
  width: 80px;
  margin: 190px 20px 60px;
  float: left;
}

section#why li {
  width: 65%;
}

section#why li h4 {
  display: inline;
}


/*************
 * SHOWCASE 
 *************/

#showcase ul {
  position: relative;
}

#showcase ul li img {
  width: 920px;
  border: 1px solid #ccc;
}

#showcase ul li {
  border: 3px solid white;
  box-shadow: 1px 1px 5px #ccc;
  width: 920px;
}

.bx-next, .bx-prev {
  position: absolute;
  top: 250px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  height: 30px;
  width: 30px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20pt;
  font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px black;
}

.bx-prev {
  left: -50px;
}

.bx-next {
  right: -50px;
}



section a {
  border-bottom: 1px dotted #bdbdbd;
}

section a:hover {
  border-bottom: 1px solid #2c3245;
}

#thebear {
  float: right;
  height: 300px;
}

.field {
  margin-top: 15px;
}

form input[type=text], form textarea {
  margin-top: 10px;
  font-size: 16pt;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #ccc;
}

form input[type=text] {
  width: 300px;
}

form textarea {
  width: 500px;
  height: 300px;
}

form input[type=submit] {
  background: #8DBEE3;
  border: 1px solid white;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 16pt;
  font-weight: bold;
  text-shadow: 1px 1px 0px white;
  box-shadow: 0px 0px 3px #ccc;
  cursor: pointer;
  border-radius: 6px;
}

.clear { clear: both }
