
@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400,900);
@import url(http://fonts.googleapis.com/css?family=Nunito);
 
 
/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* @end */
 
html {
  font-family: 'Alegreya SC', serif;
  background: url(../img/bgnoise_lg.png);
  font-weight: bold;
}
 
header {
  width: 920px;
  height:240px;
  margin: 0 auto;
}
 
header h1 {
  font-size: 6em;
  color: #2f3448;
  text-shadow: 0 2px 0 #faf4ef;
  text-align: left;
  margin-top: 80px;
  word-spacing: 35px;
  margin-left: 70px;
  letter-spacing: 2px;
}
 
header h2 {
  font-size: 3em;
  color: #faf4ef;
  text-shadow: 0 3px 0 #2f3448;
  text-align: left;
  word-spacing: 75px;
  margin-left: 200px;
  letter-spacing: 3px;
}
 
nav {
  background-color: #8d1d11;
  position: absolute;
  top: 520px;
  width: 100%;
  z-index: 100;
  text-align: center;
  border-bottom: 1px solid #3f2929;
}
 
nav ul {
  width: 920px;
  margin: auto;
}
 
nav ul li {
  display: inline-block;
  padding: 15px 10px;
  font-size: 1.6em;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
 
nav ul li a {
  padding: 0px 20px 0px 20px;
  color: white;
  text-decoration: none;
}
 
nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.17);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.72);
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  -ms-transition: all 50ms ease-in;
  -o-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}
 
nav ul li:active {
  background-color: rgba(255, 255, 255, 0.35);
}
 
.clearfix:after {
  content: '';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
 
strong {
  font-weight: bold;
}
 
.section_wrapper {
  width: 921px;
  margin: auto;
  border-bottom: 1px solid rgba(116, 116, 116, 0.15);
  padding: 20px 0;
}
 
section#portfolio {
  margin-top: 300px;
}
 
section#contact {
  margin-bottom: 200px;
}
 
.service.wide {
  width: 100%;
}
 
.light_wrapper {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 10px;
  border: 1px dashed #bdbdbd;
}
 
.service:not(.wide) {
  display: inline-block;
  vertical-align: top;
  width: 400px; 
  height: 160px;
  text-align: justify;
  border: 1px dashed #bdbdbd;
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.65);
}
 
.service.left {
  margin-right: 40px;
}
 
.bear {
  height: 500px;
  width: 480px;
  position: absolute;
  top: 20px;
  z-index: 10;
  background: url(../img/bear.png) no-repeat 245px 10px;
}
 
.glow {
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.36);
  top: 40px;
  left:438px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  -moz-box-shadow: 0 0 40px #ffffff;
  -webkit-box-shadow: 0 0 40px #ffffff;
  box-shadow: 0 0 40px #ffffff;
  
  
  -webkit-transition: all 2s ;
  -moz-transition: all 2s ;
  -ms-transition: all 2s ;
  -o-transition: all 2s ;
  transition: all 2s ;
}
 
.glow:hover {
  opacity: 1;
}
 
#background {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  overflow: hidden;
}
 
.bg_top {
  background-color: #699aa7;
  height: 240px;
}
 
.bg_bottom {
  background: #2c3245 url(../img/lower-bg.png);
  height: 280px;
}
 
#bear_text {
  width: 920px;
  margin: auto;
}
 
#bear_text a {
  font-size: 1.6em;
}
 
#bear_text a:hover {
  text-shadow: 0 0 3px #ffffff;
}
 
#left_of_bear, #right_of_bear {
  color: #faf4ef;
}
 
#left_of_bear {
  width: 260px;
  float: left;
  margin-left: -60px;
  text-align: center;
}
 
#right_of_bear {
  width: 400px;
  float: right;
  font-size: 1.2em;
  margin-top: -20px;
}
 
blockquote {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  quotes: '\201C' '\201D';
  text-shadow: 0 2px 0 #000000;
}
 
blockquote::before { 
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  margin: 20px -40px;
  position: absolute;
}
 
blockquote::after { 
  content: close-quote;
  font-size: 3em;
  line-height: .1em;
  margin: 50px 20px;
  position: absolute;
}
 
blockquote span {
  font-size: 0.7em;
}
 
p {
  margin-top: 12px;
  margin-bottom: 12px;
  font: normal normal .9em Nunito;
}
 
#content {
  margin-top: 200px;
}
 
.box {
  display: inline-block;
  margin: 10px 16px 10px 16px;
  padding: 3px 3px 1px 3px;
  border: 1px solid #6d6d6d;
  position: relative;
  background-color: #ffffff;
}
 
.box a {
  font-size: 0;
  border-style: none;
}
 
.box a:hover {
  border-style: none;
}
 
.box:hover {
  background: white;
}
 
.box:hover div {
  display: block;
}
 
.box:hover img {
  opacity: 0.3;
}
 
.box div {
  display: none;
  position: absolute;
  font-size: 30px;
  top: 50px;
  left: 10px;
}
 
.box div span {
  margin-top: 10px;
  display: block;
  font-size: 13px;
  font-family: Verdana, sans-serif;
  color: black;
}
 
footer {
  background-color: rgb(44, 50, 69);
  color: #faf4ef;
  padding: 10px;
}
 
#content h1:first-child {
  margin-top: 0px;
}
 
#content h2 {
  margin-bottom: 10px;
  color: #2c3245;
  text-shadow: 0 2px 0 #ffffff;
  font-size: 2.5em;
  font-weight: bold;
}
 
#content h3 {
  margin: 0px 0px 5px 0;
  color: #2c3245;
  text-shadow: 0 1px 0 #ffffff;
  font: bold 1.32em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
 
#us div a {
  font: normal .8em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 
section a {
  border-bottom: 1px dotted #bdbdbd;
}
 
section a:hover {
  border-bottom: 1px solid #2c3245;
}
