@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400,900);
@import url(http://fonts.googleapis.com/css?family=Nunito);


/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end */

html {
  font-family: 'Alegreya SC', serif;
  background: url(../img/bgnoise_lg.png);
  font-weight: bold;
}

header {
  width: 920px;
  height:240px;
  margin: 0 auto;
  overflow: ;
}

body {
  margin: 20px 0;
  padding: 0 auto;
}

header h1 {
  font-size: 6em;
  color: #2f3448;
  text-shadow: 0 2px 0 #faf4ef;
  text-align: left;
  margin-top: 80px;
  word-spacing: 35px;
  margin-left: 60px;
  letter-spacing: 2px;
}

header h2 {
  font-size: 3em;
  color: #faf4ef;
  text-shadow: 0 3px 0 #2f3448;
  text-align: left;
  word-spacing: 75px;
  margin-left: 200px;
  letter-spacing: 3px;
}

section#portfolio {
  background-color: #8d1d11;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

section {
  padding-top: 40px;
}

#background h3 {
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
  text-shadow: 0 2px 0 #000000;
}

.bear {
  height: 500px;
  width: 920px;
  position: absolute;
  top: 20px;
  z-index: 10;
  background: url(../img/bear.png) no-repeat 245px 10px;
}

.glow {
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.36);
  margin: -185px 318px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  -moz-box-shadow: 0 0 40px #ffffff;
  -webkit-box-shadow: 0 0 40px #ffffff;
  box-shadow: 0 0 40px #ffffff;
  
  
  -webkit-transition: all 2s ;
  -moz-transition: all 2s ;
  -ms-transition: all 2s ;
  -o-transition: all 2s ;
  transition: all 2s ;
}

.glow:hover {
  opacity: 1;
}

#background {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  overflow: hidden;
}

.bg_top {
  background-color: #699aa7;
  height: 240px;
}

.curve {
  height: 80px;
  background-color: #2c3245;
  border-radius: 50%;
  width: 110%;
  left: -5%;
  position: relative;
  top: -40px;
  display: none;
}

.bg_bottom {
  background: #2c3245 url(../img/lower-bg.png);
  height: 280px;
}

#bear_text {
  width: 920px;
  margin: auto;
}

#left_of_bear, #right_of_bear {
  color: #faf4ef;
}

#left_of_bear {
  width: 260px;
  padding: 20px;
  float: left;
  margin-left: -18px;
}

#right_of_bear {
  width: 400px;
  padding: 20px;
  float: right;
  text-align: center;
  position: relative;
  top: -45px;
}

blockquote {
  font-weight: normal;
  font-style: normal;
  margin-top: 80px;
  font-size: 2em;
  quotes: '\201C' '\201D';
  text-shadow: 0 2px 0 #000000;
}

blockquote::before { 
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin: 20px -30px;
  position: absolute;
}

blockquote::after { 
  content: close-quote;
  font-size: 4em;
  line-height: .1em;
  margin: 40px 40px;
  position: absolute;
}

blockquote span {
	font-size: 0.7em;
}

.bg_bottom h3 {
  margin-top: 40px;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
  font: normal normal .9em Nunito;
}

#content {
  /*background-color: #8d1d11;*/
  margin-top: 200px;
  height: 600px;
  margin-bottom: 400px;
}

#content_wrapper {

}

.section_wrapper {
  width: 920px;
  margin: auto;
}

.box {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 3px 3px 1px 3px;
  border: 1px solid white;
  position: relative;
}

.box a {
	font-size: 0;
}

.box:hover {
  background: white;
}

.box:hover div {
	display: block;
}

.box:hover img {
	opacity: 0.3;
}

.box div {
	display: none;
	position: absolute;
	font-size: 30px;
	top: 50px;
	left: 10px;
}

.box div span {
	margin-top: 10px;
	display: block;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: black;
}

footer {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

address {
  font: italic .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 4px;
  color: #515151;
  float: right;
}

#content h1:first-child {
	margin-top: 0px;
}

#content h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	margin-left: 0px;
	margin-top: 70px;
	margin-bottom: 10px;
}

#content h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	margin: 20px 0px 5px 0;
}
